body {
  background-color: #F5F7FB;
}

.App {
  margin: 0 auto;
  padding: 2rem ;
  position: relative;
  font-family: 'Inter', sans-serif;
  background-color: #F5F7FB;
  position: relative;
  overflow: hidden;
}

.error-message {
  color: red;
  font-size: 16px;
  margin: 10px;
}

#topic {
  font-size: 20px;
  background-color: #F5F7FB;
}

#difficulty {
  font-size: 20px;
  background-color: #F5F7FB;
}

#amount {
  font-size: 20px;
  background-color: #F5F7FB;
}






.background-paint-blue {
  position: absolute;
  width: 297px;
  height: 235px;
  background-color: #DEEBF8;
  top: 85%;
  right: 92%;
  border-radius: 45%;
}

.background-paint-yellow {
  position: absolute;
  width: 297px;
  height: 235px;
  background-color: #FFFAD1;
  left: 92%;
  bottom: 85%;
  border-radius: 35%;
  transform: rotate(45deg);
}

.start-quiz {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.start-quiz > h1 {
  font-family: 'Karla', sans-serif;
}

.btn-start {
  padding: 15px 38px;
  border-radius: 15px;
  background-color: #4D5B9E;
  color: white;
  margin-top: 20px;
  font-size: xx-large;
}

.loading {
  margin: 0 auto;
  margin-bottom: 75px;
  text-align: center;
}


@media (max-width: 300px) {
  .btn-start {
    width: 200px;
    height: 50px;
    font-size: large;
  }
  .quizzical-text {
    font-size: 30px;
  }
  .quizzical-title {
    font-size: 50px;
  }
}
